<%- include('partials/header') %>
<body>
    <header>
        <h1>Welcome to BlogNet</h1>
    </header>

    <%- include('partials/navbar') %>
    <main>
        <h2>Featured Posts</h2>
        <div class="feed-container">
            <% featuredPosts.forEach(function(post) { %>
                <a href="/post/<%= post.id %>" class="post-card">
                    <div class="post-card-content">
                        <h3 class="post-card-title"><%= post.title %></h3>
                        <p class="post-card-text"><%= post.excerpt %></p>
                        <p class="post-card-preview"><%= post.preview %></p>
                    </div>
                </a>
            <% }); %>
        </div>
        <br>
        <br>
        <br>
        <h2>Recent Posts</h2>
        <div class="feed-container recent-posts-container">
            <% recentPosts.forEach(function(post) { %>
                <a href="/post/<%= post.id %>" class="post-card">
                    <div class="post-card-content">
                        <h3 class="post-card-title"><%= post.title %></h3>
                        <p class="post-card-text"><%= post.excerpt %></p>
                    </div>
                </a>
            <% }); %>
        </div>
    </main>
    <%- include('partials/footer') %>
</body>
</html>